<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
  <param name="robot_description" textfile="$(arg model)" />

<node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/joaojorge16/catkin_ws/src/rc_amcl/rc_amcl/rosbags
/odom_scan_S63.bag"/>
<!--- Run the map server -->
<node name="map_server" pkg="map_server" type="map_server"
	args="$(find rc_amcl)/maps_repos/S63/S63.pgm 0.025" respawn="false"/>

 <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rc_amcl)/rviz/nav_p3dx.rviz" />

<!--- load robot's URDF model -->
<include file="$(find p3dx_description)/launch/p3dx_description.launch">
   <arg name="tf_prefix" value="" />
</include>

<!--<node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">
	<param name="odom_frame_id" value="odom" />
	<param name="delta_x" value="0.0" />
	<param name="delta_y" value="0.0" />
	<param name="delta_yaw" value="0.0" />
	<param name="global_frame_id" value="/map"/>
</node>-->


 <node pkg="amcl" type="amcl" name="amcl" args="scan:=/scan" output="screen">
  <!-- Publish scans from best pose at a max of 10 Hz -->
  <param name="min_particles" value="200"/>
  <param name="max_particles" value="20000"/>
  <param name="odom_model_type" value="diff"/>
  <param name="odom_alpha5" value="0.1"/>
  <param name="transform_tolerance" value="0.2" />
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="30"/>
  <param name="kld_err" value="0.05"/>
  <param name="kld_z" value="0.99"/>
  <param name="odom_alpha1" value="0.2"/>
  <param name="odom_alpha2" value="0.2"/>
  <!-- translation std dev, m -->
  <param name="odom_alpha3" value="0.8"/>
  <param name="odom_alpha4" value="0.2"/>
  <param name="laser_z_hit" value="0.5"/>
  <param name="laser_z_short" value="0.05"/>
  <param name="laser_z_max" value="0.05"/>
  <param name="laser_z_rand" value="0.5"/>
  <param name="laser_sigma_hit" value="0.2"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_model_type" value="likelihood_field"/>
  <!-- <param name="laser_model_type" value="beam"/> -->
  <param name="laser_likelihood_max_dist" value="2.0"/>
  <param name="update_min_d" value="0.2"/>
  <param name="update_min_a" value="0.5"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="resample_interval" value="1"/>
  <param name="transform_tolerance" value="0.1"/>
  <param name="recovery_alpha_slow" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/>

  <!-- Correct initial pose -->
  <!--<param name="initial_pose_x" value="4.2"/>
  <param name="initial_pose_y" value="7.9"/>
  <param name="initial_pose_a" value="0.0"/>-->

  <!-- Mismatch in initial pose -->
  <!--<param name="initial_pose_x" value="10.2"/>
  <param name="initial_pose_y" value="7.9"/>
  <param name="initial_pose_a" value="1.57"/>

  <param name="initial_cov_xx" value="25"/>
  <param name="initial_cov_yy" value="25"/>
  <param name="initial_cov_aa" value="4"/>-->

 </node>

</launch>

